<div class=" well" data-ng-controller="gitPullRequestController">
  <input type="hidden" id="org" name="org" value="<%= @org %>">
  <input type="hidden" id="repo" name="repo" value="<%= @repo %>">
  <input type="hidden" id="number" name="number" value="<%= @number %>">
  <input type="hidden" id="access_token" name="access_token" value="<%= git_access_token %>">

  <div class="row">
    <div class="col-md-8">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" data-ng-src="{{selectedPull.user.avatar_url}}s=80">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <strong>{{selectedPull.user.login}}</strong> <%= t('comments.created') %>
          </h4>
          {{selectedPull['body']}}
        </div>
      </div>
    </div>
    <div class="pull-right export-link">
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
          <span><i class="fa fa-cog fa-lg"></i></span>
        </button>
        <ul class="dropdown-menu pull-left" role="menu">
          <li>
            <a href="{{selectedPull.html_url}}" target="_blank" title="<%= t('comments.view_in_github') %>">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="/export/{{selectedPull.base.repo.full_name}}/{{selectedPull.number}}.csv" title="<%= t('comments.export_to_csv') %>">
              <i class="fa fa-file-o fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="/export/{{selectedPull.base.repo.full_name}}/{{selectedPull.number}}.xls" title="<%= t('comments.export_to_excel') %>">
              <i class="fa fa-file-excel-o fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="comments">
      <% @comments.each do |comment| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= comment.user.avatar_url %>&s=80">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><strong><%= comment.user.login %></strong> <%= t('comments.commented') %></h4>

              <div class="time">
                <small>
                  <cite>
                    <%= time_ago_in_words comment.created_at %> <%= t('comments.time_ago') %>
                  </cite>
                </small>
              </div>
              <div>
                <%= comment.body %>
              </div>
              <div class="github-link">
                <a class="btn btn-success btn-xs" href="<%= comment.html_url %>" target="_blank">
                  <span>
                    <i class="fa fa-github fa-sm"></i> <%= t('comments.view_in_github') %>
                  </span>
                </a>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <% if @comments.empty? %>
        <div class="alert alert-info alert-sm"><%= t('comments.no_comments_alert') %></div>
    <% end %>
  </div>
</div>
