<div class=" well" data-ng-controller="gitPullRequestController">
  <div class="row">
    <div class="col-md-8">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= @selected_pull_request['user']['avatar_url'] %>&s=80">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong><%= @selected_pull_request['user']['login'] %></strong> created:</h4>
          <%= @selected_pull_request['body'] %>
        </div>
      </div>
    </div>
    <div class="pull-right export-link">
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
          <span><i class="fa fa-cog fa-lg"></i></span>
        </button>
        <ul class="dropdown-menu pull-left" role="menu">
          <li>
            <a href="<%= @selected_pull_request['html_url'] %>" target="_blank" title="View in Github">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="/export/<%= @selected_pull_request['base']['repo']['full_name'] %>/<%= @selected_pull_request['number'] %>.csv" title="Export to CSV">
              <i class="fa fa-file-o fa-lg"></i>
            </a>
          </li>
          <li>
            <a href="/export/<%= @selected_pull_request['base']['repo']['full_name'] %>/<%= @selected_pull_request['number'] %>.xls" title="Export to Excel">
              <i class="fa fa-file-excel-o fa-lg"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="comments">
      <% @comments.each do |comment| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= comment.user.avatar_url %>&s=80">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><strong><%= comment.user.login %></strong> commented:</h4>
              <div class="time">
                <small><cite><%= time_ago_in_words comment.created_at %> ago</cite></small>
              </div>
              <div>
                <%= comment.body %>
              </div>
              <div class="github-link">
                <a class="btn btn-success btn-xs" href="<%= comment.html_url %>" target="_blank">
                  <span><i class="fa fa-github fa-sm"></i> View in Github</span>
                </a>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <% if @comments.empty? %>
        <div class="alert alert-info alert-sm">No one has commented here yet...</div>
    <% end %>
  </div>
</div>
