<div class=" well" data-ng-controller="pullRequestController">
  <div class="row">
    <div class="col-md-8">
      <div class="media" style="position: relative">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= @selected_pull_request['user']['avatar_url'] %>&s=80">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong><%= @selected_pull_request['user']['login'] %></strong> created:</h4>
          <%= @selected_pull_request['body'] %>
        </div>
      </div>
    </div>
    <div class="pull-right export-link">
      <a class="btn btn-success btn-xs" href="<%= @selected_pull_request['html_url'] %>" target="_blank">
        View in Github
      </a>
      |
      <a href="javascript:void(0);" title="Export to csv" data-ng-click="export()">
        <i class="fa fa-file-excel-o fa-lg"></i>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="comments">
      <% @comments.each do |comment| %>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="<%= comment.user.avatar_url %>&s=80">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><strong><%= comment.user.login %></strong> commented:</h4>
              <div class="time">
                <small><cite><%= time_ago_in_words comment.created_at %> ago</cite></small>
              </div>
              <div>
                <%= comment.body %>
              </div>
              <div class="github-link">
                <a class="btn btn-success btn-xs" href="<%= comment.html_url %>" target="_blank">View in Github</a>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <% if @comments.empty? %>
        <div class="alert alert-info alert-sm">No one has commented here yet...</div>
    <% end %>
  </div>
</div>
