<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.application.title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body data-ng-app="pull-git-comments" data-ng-cloak="">
<!-- Google Tag Manager -->
<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-566LXL"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-566LXL');
</script>
<!-- End Google Tag Manager -->
<% if session[:signed_in] %>
    <%= render 'partials/navbar' %>
<% end %>


<%= yield %>

<%= render 'templates/index' %>
<%= render 'templates/about' %>
<%= render 'templates/pull_comments' %>
</body>
</html>
