<!DOCTYPE html>
<html>
<head>
  <title><%= t('layout.application.title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body data-ng-app="pull-git-comments" data-ng-cloak="">
<% if session[:signed_in] %>
    <%= render 'partials/navbar' %>
<% end %>


<%= yield %>

<%= render 'templates/index' %>
<%= render 'templates/about' %>
<%= render 'templates/pull_comments' %>
</body>
</html>
